server/emailpassword.env
litterbot/Litterbot/Library
litterbot/Litterbot/Logs
litterbot/Litterbot/Packages
litterbot/Litterbot/ProjectSettings
litterbot/Litterbot/Temp
litterbot/Litterbot/UserSettings